<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.spring.transactional.moreThreadTransaction.mapper.SpringTransactionalMapper">

    <insert id="saveBatch1" parameterType="List">
        INSERT INTO
        employee (`name`)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name})
        </foreach>
    </insert>
</mapper>
